<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'menu.css' %}">
</head>
<body>
    <div class="menu">
        {% for dish in dishes %}
        <div class="card">
            <img src="{{ dish.photo.url }}" alt="{{ dish.name }}">
            <div class="details">
                <div class="details-sub">
                    <h5>{{ dish.name }}</h5>
                    <h5>{{dish.category}}</h5>
                    <h5 class="price">{{ dish.price }}</h5>
                </div>
                <p>{{ dish.description }}</p>
                <button>Add To Cart</button>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
